/*-animation for restaurant logo to rotate*/
@keyframes rotate {
    form {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

/*animation for home background to change*/
@keyframes backgroundChange {
    0% {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../assets/images/background2.jpeg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: none;
    }

    30% {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../assets/images/background1.jpeg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: none;
    }

    70% {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../assets/images/background3.jpeg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: none;
    }

    100% {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../assets/images/background2.jpeg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: none;
    }
}

/*animation for services opacity to increase when in view*/
@keyframes textshow {
    from{
        opacity: 0.2;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}